@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --light_blue_color:#17bed2;
    --gray_color:#515769;
    --light_gray_color:#f3f4f5;
    --bg_color:#fafafa;
    --par_color:#a6a7aa;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 5000px;
}
/*********************************************glopal*********************************************/
a{
    color: var(--gray_color);
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}
a:hover{
    color: var(--light_blue_color);
}
h1 , h2{
    color: var(--gray_color);
    width: 100%;
}

p , ol{
    color: var(--par_color);
}
.progress{
    height: 3px;
}
.progress-bar{
    background: var(--light_blue_color) !important;
}
h5{
    font-size: 1rem;
    color: var(--gray_color);
}
.btn-primary{
    background-color: var(--light_gray_color);
    color: var(--gray_color);
    border: none;
    transition: .2s;
    width: 190px;
}
.btn-primary:hover{
    background: var(--light_blue_color);
}
/*********************************************glopal*********************************************/
/********************************start navbar styles*********************************************/
.nav_img{
    width: 10%;
}
.navbar{
    background-color: white !important;
}
/**********************************end navbar styles*********************************************/
/********************************start name styles*********************************************/
.name_cons_col{
    width: 10%;
    cursor: pointer;
}
.name{
    background-color: var(--bg_color);
}
.social_icons{
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: var(--gray_color);
    background: white;
    border-radius: 50%;
    padding: 11px;
    transition: .2s;
    text-align: center;
    cursor: pointer;
}
.social_icons:hover{
    background-color: var(--gray_color);
    color: white;
}
/********************************end name styles*********************************************/
/********************************start about us styles***************************************/
.btn-primary>a{
    text-decoration: none;
}
.btn-primary>a:hover{
    color: var(--gray_color);
}
/********************************end about us styles*****************************************/





























/********************************responsive*********************************************/
@media (max-width:700px) {
    .name_flex{
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
    }
    .right_name{
        width: 100%;
    }
    .right_name img{
        width: 100%;
    }
    .nav_content{
        flex-direction: column;
        align-items: center;
    }
    .nav_img{
        width: 30%;
    }
}
